## -*- coding: utf-8 -*-
<%inherit file="/templates/base.html"/>
<%block name="title">Index</%block>
<p class="index-header">
    <%include file="/templates/navbar.html" args="packages=packages"/>
    <a href="#" class="package-link" onclick="event.preventDefault();">${packages.path.stem}</a>
</p>

<div class="links">
    % for package in packages.packages:
        % if not package.is_empty():
            ${print_package(package)}
        % endif
    % endfor
    % for module in packages.modules:
                    ${print_module(module)}
% endfor
</div>

% if packages.docstring:
    <p>
        <span class="index-header">Package documentation</span>
        <a href="#" class="package-expand-button" id="button-package-docstring"
                onclick="toggle_visibility('package-docstring'); event.preventDefault();">+
        </a>
    </p>
    <div class="package-docstring" id="package-docstring">
        <pre class="package-docstring-text">${packages.docstring}</pre>
    </div>
% endif

<%def name="print_package(package)">
    <div class="package-elements">
        <% package_link_id = 'package-links-' + create_id_from_path(package.path) %>
        <a href="#" class="expand-button" id="button-${package_link_id}"
           onclick="toggle_visibility('${package_link_id}'); event.preventDefault();">+</a>
        <a href="${base_path.joinpath(package.path).joinpath('index.html')}"
           class="package-link">${package.name}</a>
        <div class="package-links" id="${package_link_id}">
            % for nested_package in package.packages:
                % if not nested_package.is_empty():
                    ${print_package(nested_package)}
                % endif
            % endfor
            % for module in package.modules:
                                    ${print_module(module)}
        % endfor
        </div>
    </div>
</%def>

<%def name="print_module(module)">
    <% module_link_id = 'module-links-' + create_id_from_path(module.path) %>
    <% is_expandable = any(class_.methods for class_ in module.classes) %>
    <div class="module-elements">
        % if is_expandable:
            <a href="#" class="expand-button" id="button-${module_link_id}"
               onclick="toggle_visibility('${module_link_id}'); event.preventDefault();">+</a>
        % else:
            &nbsp
        % endif
        <a href="${base_path.joinpath(module.path)}.html"
           class="module-link">${module.name}</a>
        % if is_expandable:
            <%include file="/templates/module_index.html" args="base_path=base_path, module=module,
                                                                   id=module_link_id"/>
        % endif
    </div>
</%def>

<%!
    def create_id_from_path(path):
        path = str(path)
        return path.replace('/', '-').replace('\\', '-')
%>
