## -*- coding: utf-8 -*-
<%inherit file="/templates/base.html"/>

<%block name="title">Index</%block>
<%!
    from anytree import Node, RenderTree
    from anytree.search import find

    def build_tree(files):
        files = [file.replace('\\', '/') for file in files]
        tree = Node('')
        for file in files:
            previous_part = tree
            parts = file.split('/')
            for part in parts:
                parent = find(tree, filter_ = lambda node: node.name == previous_part.name
                         and node.depth == previous_part.depth)
                double = find(tree, filter_ = lambda node: node.name == part
                         and node.depth == previous_part.depth + 1)
                if not double:
                    new_part = Node(part, parent=parent)
                    previous_part = new_part
                else:
                    previous_part = double

        return RenderTree(tree)

    def get_path(node):
        return '.' + '/'.join([n.name for n in node.ancestors]) + '/' + node.name
%>

<p class="index-header">Index of ${base_path}</p>

<div class="links">
    % for row in build_tree(files):
        <p class="links">
            <% pre = row.pre if row.pre.startswith('│') or not row.pre else '│' + row.pre %>
            <span class="tree">${pre}</span>
            % if row.node.name.endswith('.html'):
                <a href="${get_path(row.node)}" class="link">
                    ${row.node.name[:-len('.html')]}
                </a>
            % else:
                <span class="package">${row.node.name}</span>
            % endif
        </p>
    % endfor
</div>

