## -*- coding: utf-8 -*-
<%page args="base_path, module, id"/>

<div class="module-links" id="${id}">
    % for cls in module.classes:
        % if cls.name:
        <div class="index-link">
            <a class="class-link" href="${base_path.joinpath(module.path)}.html#${cls.name}">${cls.name}</a>
        % endif
        % for method in cls.methods:
        <% prefix = cls.name + '_' if cls.name else '' %>
        % if cls.name:
            <div class="method-links">
        % endif
            <div class="index-link">
                <a class="method-link" href=
                        "${base_path.joinpath(module.path)}.html#${prefix}${method.name}">${method.name}</a>
            </div>
        % if cls.name:
            </div>
        % endif
        % endfor
        % if cls.name:
            </div>
        % endif
    % endfor
</div>