:root {
    --base03: #002b36;
    --base02: #073642;
    --base015: #0e414e;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base15: #dfdac7;
    --base2: #eee8d5;
    --base3: #fdf6e3;

    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    --module: var(--red);
    --class: var(--orange);
    --method: var(--yellow);
    --docstring: var(--base01);
    --background: var(--base15);
    --background-highlight: var(--base2);
    --background-highlight2: var(--base3);
}

.html {
    font-family: Consolas, monospace;
}

.body {
    background-color: var(--background);
}

.module-name {
    color: var(--module);
    font-size: 22pt;
    font-weight: bold;
    margin-left: 1em;
}

.class {
    background-color: var(--background-highlight);
    margin-left: 2em;
    padding: 1px;
}

.method {
    background-color: var(--background-highlight2);
    margin-left: 2em;
    padding: 1px;
}

.class-signature {
    color: var(--class);
    font-size: 16pt;
    margin-left: 1em;
}

.method-signature {
    color: var(--method);
    font-size: 12pt;
    margin-left: 1em;
}

.class-docstring, .method-docstring {
    color: var(--docstring);
    margin-left: 2em;
}

.class-name, .method-name {
    font-weight: bold;
}

.class-parameters, .method-parameters {
    font-style: italic;
}
